<p *ngIf="!category"><em>Loading...</em></p>
<h2 style="align-content:center">Add Item</h2>
<form (ngSubmit)="Save()" #formData="ngForm">
  <div>
    <label>Category:</label>
    <select style="margin-left:40px;" [(ngModel)]="CategoryModel.CategoryId" name="CategoryId">
      <option *ngFor="let cat of category" value="{{cat.categoryID}}">{{cat.categoryName}}</option>
    </select>
  </div>
  <div>
    <label>Item:</label>
    <input [(ngModel)]="CategoryModel.ItemName" name="ItemName" type="text" class="form-control" #Item="ngModel" required style="width:20%; margin-left:30px;" />
    <div [hidden]="Item.valid||Item.pristine" class="alert alert-danger">
      Item required
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!formData.form.valid">Save</button>
</form>
